In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import seaborn as sns


pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('.\credit_default.csv')

In [4]:
df.shape

(148670, 20)

In [5]:
df.dtypes

id                          int64
year                        int64
gender                     object
approv_in_adv              object
loan_type                  object
loan_purpose               object
business_or_commercial     object
loan_amount                 int64
rate_of_interest          float64
upfront_charges           float64
term                      float64
property_value            float64
construction_type          object
income                    float64
credit_type                object
credit_score                int64
age                        object
ltv                       float64
region                     object
status                      int64
dtype: object

In [6]:
df1, df2 = train_test_split(df, test_size=0.3, random_state=0)

In [7]:
soma_dados_falta1 = df1.isnull().sum()

In [8]:
soma_dados_falta1[soma_dados_falta1 > 0]

approv_in_adv         652
loan_purpose          102
rate_of_interest    25483
upfront_charges     27763
term                   27
property_value      10526
income               6481
age                   139
ltv                 10526
dtype: int64

In [9]:
df1.shape

(104069, 20)

In [10]:
soma_dados_falta2 = df2.isnull().sum()

In [11]:
soma_dados_falta2[soma_dados_falta2 > 0]

approv_in_adv         256
loan_purpose           32
rate_of_interest    10956
upfront_charges     11879
term                   14
property_value       4572
income               2669
age                    61
ltv                  4572
dtype: int64

In [12]:
df2.shape

(44601, 20)



# 1- Eliminar linhas com alguma observação em falta:

In [13]:
df1_sem_faltantes = df1.dropna()

In [14]:
df1_sem_faltantes.shape

(70304, 20)

In [15]:
soma_df1_sem_faltantes = df1_sem_faltantes.isnull().sum()
soma_df1_sem_faltantes

id                        0
year                      0
gender                    0
approv_in_adv             0
loan_type                 0
loan_purpose              0
business_or_commercial    0
loan_amount               0
rate_of_interest          0
upfront_charges           0
term                      0
property_value            0
construction_type         0
income                    0
credit_type               0
credit_score              0
age                       0
ltv                       0
region                    0
status                    0
dtype: int64

In [16]:
df2_sem_faltantes = df2.dropna()

In [17]:
df2_sem_faltantes.shape

(30283, 20)

In [18]:
soma_df2_sem_faltantes = df2_sem_faltantes.isnull().sum()
soma_df2_sem_faltantes

id                        0
year                      0
gender                    0
approv_in_adv             0
loan_type                 0
loan_purpose              0
business_or_commercial    0
loan_amount               0
rate_of_interest          0
upfront_charges           0
term                      0
property_value            0
construction_type         0
income                    0
credit_type               0
credit_score              0
age                       0
ltv                       0
region                    0
status                    0
dtype: int64

# 2- Eliminar uma variável com dados em falta nas duas bases

In [19]:
df1, df2 = train_test_split(df, test_size=0.3, random_state=0)
soma_dados_falta1 = df1.isnull().sum()
soma_dados_falta1[soma_dados_falta1 > 0]

approv_in_adv         652
loan_purpose          102
rate_of_interest    25483
upfront_charges     27763
term                   27
property_value      10526
income               6481
age                   139
ltv                 10526
dtype: int64

In [20]:
soma_dados_falta2 = df2.isnull().sum()
soma_dados_falta2[soma_dados_falta2 > 0]

approv_in_adv         256
loan_purpose           32
rate_of_interest    10956
upfront_charges     11879
term                   14
property_value       4572
income               2669
age                    61
ltv                  4572
dtype: int64

In [21]:
# a variável ltv possui o mesmo número de nulos que o property_value nas duas bases.
# Eliminando a variável ltv no Df1
df1 = df1.drop(columns = 'ltv')
df1.dtypes

id                          int64
year                        int64
gender                     object
approv_in_adv              object
loan_type                  object
loan_purpose               object
business_or_commercial     object
loan_amount                 int64
rate_of_interest          float64
upfront_charges           float64
term                      float64
property_value            float64
construction_type          object
income                    float64
credit_type                object
credit_score                int64
age                        object
region                     object
status                      int64
dtype: object

In [22]:
# Aplicando para o df2
df2 = df2.drop(columns = 'ltv')
df2.dtypes

id                          int64
year                        int64
gender                     object
approv_in_adv              object
loan_type                  object
loan_purpose               object
business_or_commercial     object
loan_amount                 int64
rate_of_interest          float64
upfront_charges           float64
term                      float64
property_value            float64
construction_type          object
income                    float64
credit_type                object
credit_score                int64
age                        object
region                     object
status                      int64
dtype: object

# 3- Preencher corretamente nas duas bases:

### Valores em falta com a média para pelo menos uma variável numérica

In [23]:
soma_dados_falta1 = df1.isnull().sum()
soma_dados_falta1[soma_dados_falta1 > 0]

approv_in_adv         652
loan_purpose          102
rate_of_interest    25483
upfront_charges     27763
term                   27
property_value      10526
income               6481
age                   139
dtype: int64

In [24]:
# Preenchendo os valores em falta pela média das variável property_value na df1.
df1['property_value'].fillna(df1['property_value'].mean(), inplace = True)

In [25]:
soma_dados_falta1 = df1.isnull().sum()
soma_dados_falta1[soma_dados_falta1 > 0]

approv_in_adv         652
loan_purpose          102
rate_of_interest    25483
upfront_charges     27763
term                   27
income               6481
age                   139
dtype: int64

In [26]:
# Aplicando para df2
df2['property_value'].fillna(df2['property_value'].mean(), inplace = True)

In [27]:
soma_dados_falta2 = df2.isnull().sum()
soma_dados_falta2[soma_dados_falta2 > 0]

approv_in_adv         256
loan_purpose           32
rate_of_interest    10956
upfront_charges     11879
term                   14
income               2669
age                    61
dtype: int64



### E valor 'missing' para uma variável categórica

In [28]:
categorical_columns = df1.select_dtypes(include = ['object']).columns
categorical_columns

Index(['gender', 'approv_in_adv', 'loan_type', 'loan_purpose',
       'business_or_commercial', 'construction_type', 'credit_type', 'age',
       'region'],
      dtype='object')

In [29]:
# Preenchendo com 'missing' os faltantes na variável approv_in_adv no df1
df1['approv_in_adv'].fillna('missing', inplace = True)

In [30]:
soma_dados_falta1 = df1.isnull().sum()
soma_dados_falta1[soma_dados_falta1 > 0]

loan_purpose          102
rate_of_interest    25483
upfront_charges     27763
term                   27
income               6481
age                   139
dtype: int64

In [31]:
#Aplicando para df2
df2['approv_in_adv'].fillna('missing', inplace = True)

In [32]:
soma_dados_falta2 = df2.isnull().sum()
soma_dados_falta2[soma_dados_falta2 > 0]

loan_purpose           32
rate_of_interest    10956
upfront_charges     11879
term                   14
income               2669
age                    61
dtype: int64

# 4- Preencher uma variável com dados em falta com um algoritimo de ML nas duas bases de dados

In [33]:
# vamos utilizar o Iterative Imputer (MICE - Multiple Imputation by Chained Equations) para tratar todos os dados faltantes.

from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [34]:
# Separando as variáveis categóricas das numéricas
num_cols = df1.select_dtypes(include=[np.number]).columns
cat_cols = df1.select_dtypes(include=[object]).columns

In [35]:
df1_num = df1[num_cols]
df1_cat = df1[cat_cols]

In [36]:
# Codificação das colunas categóricas
encoder = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
df1_cat_encoded = pd.DataFrame(encoder.fit_transform(df1_cat), columns = encoder.get_feature_names_out(cat_cols))

In [37]:
# Normalizando as variáveis numéricas
scaler = StandardScaler()
df1_num_scaled = pd.DataFrame(scaler.fit_transform(df1_num), columns = num_cols)

In [38]:
# concatenando as variaveis categóricas e numéricas
df1_combined = pd.concat([df1_num_scaled, df1_cat_encoded], axis = 1)

In [39]:
# aplicando o imputer
imputer = IterativeImputer(max_iter = 10, random_state = 0)
df1_imputed = pd.DataFrame(imputer.fit_transform(df1_combined), columns = df1_combined.columns)

In [40]:
# Revendo a normalização das colunas numéricas
df1_imputed[num_cols] = scaler.inverse_transform(df1_imputed[num_cols])

In [41]:
df1_imputed

,id,year,loan_amount,rate_of_interest,upfront_charges,term,property_value,income,credit_score,status,gender_Female,gender_Joint,gender_Male,gender_Sex Not Available,approv_in_adv_missing,approv_in_adv_nopre,approv_in_adv_pre,loan_type_type1,loan_type_type2,loan_type_type3,loan_purpose_p1,loan_purpose_p2,loan_purpose_p3,loan_purpose_p4,loan_purpose_nan,business_or_commercial_b/c,business_or_commercial_nob/c,construction_type_mh,construction_type_sb,credit_type_CIB,credit_type_CRIF,credit_type_EQUI,credit_type_EXP,age_25-34,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,age_nan,region_North,region_North-East,region_central,region_south
0,86746.0,2019.0,216500.0,2.990000,5548.890000,180.0,308000.0,4440.0,768.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,29467.0,2019.0,246500.0,4.125000,2465.000000,240.0,478000.0,7680.0,620.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,46403.0,2019.0,326500.0,2.875000,4728.000000,180.0,508000.0,18120.0,585.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,97815.0,2019.0,186500.0,4.645955,2779.149277,360.0,518000.0,10380.0,788.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,168302.0,2019.0,156500.0,4.250000,4107.500000,360.0,318000.0,3060.0,751.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104064,66883.0,2019.0,186500.0,4.560000,825.000000,360.0,198000.0,2220.0,866.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
104065,122529.0,2019.0,286500.0,4.040165,3702.458088,360.0,258000.0,2220.0,702.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
104066,120829.0,2019.0,176500.0,4.750000,447.250000,360.0,318000.0,2820.0,613.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
104067,142842.0,2019.0,226500.0,3.875000,3770.000000,324.0,338000.0,6420.0,573.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
104068,68457.0,2019.0,156500.0,3.990000,4230.000000,180.0,218000.0,5400.0,670.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [42]:
df1_imputed.isnull().sum()

id                              0
year                            0
loan_amount                     0
rate_of_interest                0
upfront_charges                 0
term                            0
property_value                  0
income                          0
credit_score                    0
status                          0
gender_Female                   0
gender_Joint                    0
gender_Male                     0
gender_Sex Not Available        0
approv_in_adv_missing           0
approv_in_adv_nopre             0
approv_in_adv_pre               0
loan_type_type1                 0
loan_type_type2                 0
loan_type_type3                 0
loan_purpose_p1                 0
loan_purpose_p2                 0
loan_purpose_p3                 0
loan_purpose_p4                 0
loan_purpose_nan                0
business_or_commercial_b/c      0
business_or_commercial_nob/c    0
construction_type_mh            0
construction_type_sb            0
credit_type_CIB                 0
credit_type_CRIF                0
credit_type_EQUI                0
credit_type_EXP                 0
age_25-34                       0
age_35-44                       0
age_45-54                       0
age_55-64                       0
age_65-74                       0
age_<25                         0
age_>74                         0
age_nan                         0
region_North                    0
region_North-East               0
region_central                  0
region_south                    0
dtype: int64

In [43]:
# aplicando no df2

In [44]:
num_cols = df2.select_dtypes(include=[np.number]).columns
cat_cols = df2.select_dtypes(include=[object]).columns
df2_num = df2[num_cols]
df2_cat = df2[cat_cols]

In [45]:
encoder = OneHotEncoder(sparse = False, handle_unknown = 'ignore')
df2_cat_encoded = pd.DataFrame(encoder.fit_transform(df2_cat), columns = encoder.get_feature_names_out(cat_cols))

In [46]:
scaler = StandardScaler()
df2_num_scaled = pd.DataFrame(scaler.fit_transform(df2_num), columns = num_cols)

In [47]:
df2_combined = pd.concat([df2_num_scaled, df2_cat_encoded], axis = 1)

In [48]:
imputer = IterativeImputer(max_iter = 10, random_state = 0)
df2_imputed = pd.DataFrame(imputer.fit_transform(df2_combined), columns = df2_combined.columns)

In [49]:
df2_imputed[num_cols] = scaler.inverse_transform(df2_imputed[num_cols])

In [50]:
df2_imputed

,id,year,loan_amount,rate_of_interest,upfront_charges,term,property_value,income,credit_score,status,gender_Female,gender_Joint,gender_Male,gender_Sex Not Available,approv_in_adv_missing,approv_in_adv_nopre,approv_in_adv_pre,loan_type_type1,loan_type_type2,loan_type_type3,loan_purpose_p1,loan_purpose_p2,loan_purpose_p3,loan_purpose_p4,loan_purpose_nan,business_or_commercial_b/c,business_or_commercial_nob/c,construction_type_mh,construction_type_sb,credit_type_CIB,credit_type_CRIF,credit_type_EQUI,credit_type_EXP,age_25-34,age_35-44,age_45-54,age_55-64,age_65-74,age_<25,age_>74,age_nan,region_North,region_North-East,region_central,region_south
0,55933.0,2019.0,1016500.0,4.156759,5623.129411,360.0,499405.231207,13620.0,822.0,1.000000e+00,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,28797.0,2019.0,86500.0,4.375000,2637.500000,180.0,128000.000000,3540.0,503.0,-2.775558e-17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,34037.0,2019.0,286500.0,3.500000,9536.210000,360.0,308000.000000,9060.0,659.0,-2.775558e-17,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,31815.0,2019.0,496500.0,4.079721,3040.950093,300.0,499405.231207,4740.0,581.0,1.000000e+00,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,44941.0,2019.0,436500.0,4.375000,3173.200000,360.0,708000.000000,4680.0,511.0,-2.775558e-17,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44596,114202.0,2019.0,396500.0,3.625000,6825.000000,360.0,528000.000000,4080.0,600.0,-2.775558e-17,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
44597,40981.0,2019.0,406500.0,4.420744,3535.699709,360.0,818000.000000,3300.0,669.0,1.000000e+00,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
44598,106112.0,2019.0,106500.0,3.625000,2703.267346,180.0,138000.000000,3720.0,522.0,-2.775558e-17,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
44599,140878.0,2019.0,276500.0,3.875000,982.650000,360.0,548000.000000,4920.0,543.0,-2.775558e-17,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
44600,103849.0,2019.0,326500.0,3.990000,6867.500000,360.0,498000.000000,3180.0,620.0,-2.775558e-17,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [51]:
df2_imputed.isnull().sum()

id                              0
year                            0
loan_amount                     0
rate_of_interest                0
upfront_charges                 0
term                            0
property_value                  0
income                          0
credit_score                    0
status                          0
gender_Female                   0
gender_Joint                    0
gender_Male                     0
gender_Sex Not Available        0
approv_in_adv_missing           0
approv_in_adv_nopre             0
approv_in_adv_pre               0
loan_type_type1                 0
loan_type_type2                 0
loan_type_type3                 0
loan_purpose_p1                 0
loan_purpose_p2                 0
loan_purpose_p3                 0
loan_purpose_p4                 0
loan_purpose_nan                0
business_or_commercial_b/c      0
business_or_commercial_nob/c    0
construction_type_mh            0
construction_type_sb            0
credit_type_CIB                 0
credit_type_CRIF                0
credit_type_EQUI                0
credit_type_EXP                 0
age_25-34                       0
age_35-44                       0
age_45-54                       0
age_55-64                       0
age_65-74                       0
age_<25                         0
age_>74                         0
age_nan                         0
region_North                    0
region_North-East               0
region_central                  0
region_south                    0
dtype: int64